@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clip-transition {
    clip-path: circle(0.8% at 11% 8%);
    transition: clip-path .5s ease-in-out;
}

@media (max-width: 640px) {

.autoscreen {
    margin-left: 15%;
    margin-right: 15%;
}
}


.dropdown-content {
    display: none;
    position: fixed;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.input {
    background: rgba(0, 0, 0, 0);
}